.posts-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.post-box {
  width: 80%;
  text-align: left;
  border-radius: var(--radius);
  border: 2px solid var(--color-muted);
  padding: 5% 5% 2%;
  margin-bottom: 5%;
  font-size: 1.15rem;
  line-height: 1.75;
}

.post-box img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blog .intros {
  text-align: center;
}
